div.block-container.css-z5fcl4.egzxvld4{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
}
div.css-1544g2n.e1fqkh3o4{
    padding-top: 0;
    padding-bottom: 0;
}
div.css-1dx1gwv.e88czh81{
    padding: 0;
}
h2.sidebar-title{
    padding-top: 0;
    padding-bottom: 12px;
}
div.css-1py2o2w.e1tzin5v0{
    gap: 0;
}
label.css-81oif8.effi0qh3,
div.row-widget.stButton{
    min-height: 0;
}
div.css-1pd56a0.e1tzin5v0{
    gap: 0;
}
div.uploadedFileName.css-1uixxvy.exg6vvm6{
    margin-bottom: 0;
}
h2.sidebar-title{
    padding-bottom: 0;
}
div.css-1q80ws6.e1tzin5v0{
    gap: 0.7rem;
}
div.stSlider{
    height: 3.5rem;
}
#MainMenu
{
    visibility: hidden;
}
footer.css-164nlkn.egzxvld1
{
    visibility: hidden;
}
div.css-bgz5el.e1tzin5v0{
    gap: 0;
}
div.block-container.css-z5fcl4.egzxvld4{
    padding-top: 0;
}
div.plot-container.plotly{
    position: relative;
    top: 20px;
}
div.css-ocqkz7.e1tzin5v3{
    position: relative;
    top: 25px; 
}
div.css-b8wsg1.e1tzin5v0{
    gap: 0;
    bottom: 0;
}
div.st-ej.st-cm.st-co.st-cn.st-b3.st-df.st-ek,
div.st-bf.st-b8.st-ej{
    padding-top: 0;
}
div.css-fis6aj.exg6vvm10{
    padding-top: 2px;
    height: 20px;
}